<a href="https://colab.research.google.com/github/sowjanyaborusu27/PDS/blob/main/ICP5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use the Sacramento Housing  data (from this link : Data linkLinks to an external site.) and perform the following functions (you must use a code for all these operations):

1)Find the number of the columns in the data frame

2)Find the mean of the house prices

3)Find the median of the house prices

4)Find the different types of property in the dataset

5)Find the maximum price of a "condo" in the dataset

6)Find the mean of each type of property in the dataset

7)Find the count of different property types in dataset

In [17]:
import pandas as pd

In [18]:
# Getting and reading data
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

In [19]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

1)Find the number of the columns in the data frame

In [20]:
df.shape[1]

12

2)Find the mean of the house prices

In [21]:
df['price'].mean()

234144.26395939087

3)Find the median of the house prices

In [22]:
df['price'].median()

213750.0

4)Find the different types of property in the dataset

In [23]:
df['type'].value_counts()

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64

5)Find the maximum price of a "condo" in the dataset

In [24]:
df[df['type'] == 'Condo']['price'].max()

360000

6)Find the mean of each type of property in the dataset

In [25]:
df.groupby('type')['price'].mean()

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

7)Find the count of different property types in dataset

In [26]:
df['type'].value_counts()

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64